*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.card{
    width: 300px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgpa(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover{
    transform: translateX(-8px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.card img{
    width: 100%;
    height: auto;
}

.card-content{
    padding: 15px;
    text-align: center;
}

.title{
    font-size: 20px;
    margin-bottom: 10px;
}

.price{
    font-size: 18px;
    color: green;
    margin-bottom: 15px;
}

.btn{
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease
}

btn:hover{
    background-color: #0056b3;
}

@media(max-width: 480px){
    .card{
        width: 90%;
    }
}